@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');

@media only screen and (min-width: 768px) {
  * {
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }

  body {
    font-family: 'Lato', sans-serif;
    background-color: #fafdfb;
    color: #333;
    font-size: 1.6rem;
    line-height: 1.6;
    padding: 0;
    margin: 0;
  }

  .container {
    width: 1200px;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
    color: #333;
  }

  h1,
  h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
  }

  p {
    margin: 10px 0;
  }

  img {
    width: 100%;
  }

  .logo {
    width: 100px;
    height: 100px;
  }

  code,
  pre {
    background: #333;
    color: #fff;
    padding: 10px;
  }

  button {
    cursor: pointer;
  }

  button:disabled {
    cursor: default;
  }

  .is-active {
    font-weight: bold;
  }
}

.container {
  display: flex;
  margin: 0 auto;
}
